@font-face {
    font-family: bellota;
    src: url("../../assets/fonts/BellotaText-Regular.ttf"); 
}
@font-face {
    font-family: bellota-bold;
    src: url("../../assets/fonts/BellotaText-Bold.ttf"); 
}