.contact-details {
    min-height: 800px;
    margin-top: 60px;
    
    &-nav {
        @include nav-sub("Edit");
    }
    main {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }
    &-card {
        display: inline-flex;
        flex-direction: column;
        border: 1px solid $clr4;
        box-shadow: $shadow;
        border-radius: 3px;
        padding: 20px;
        
        @include for-mobile-layout {
            flex-direction: row;
        }
        [alt=contact] {
            width: 200px;
            border: 1px solid rgba($clr3, .1);
            border-radius: 50%;
            margin-right: 0;
            margin-bottom: 20px;
            user-select: none;
            
            @include for-mobile-layout {
                width: 250px;
                margin-right: 20px;
                margin-bottom: 0;
            }
            @include for-narrow-layout {
                width: 300px;
            }
        }
        &-txt {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            
            :first-child, :last-child {
                margin-left: 0;

                @include for-mobile-layout {
                    margin-left: -30px;
                }
            }
            &>*:not(:last-child) {
                margin-bottom: 10px;

                @include for-mobile-layout {
                    margin-bottom: 0;
                }
            }
        }
    }
    &-prev, &-next {
        font-size: 40px;
        color: $clr2;
        margin: auto 5px;
        cursor: pointer;
        
        @media (min-width: 370px) {
            font-size: 40px;
            margin: auto 10px;
        }
        @include for-mobile-layout {
            font-size: 60px;
        }
    }
}