.transfer-fund {
    text-align: center;

    form {
        display: inline-block;
        width: 60%;

        @include for-mobile-layout {
            width: 40%;
        }
       
        button {
            @include btn-anim($clr2);
            margin-top: 20px;
        }
    }
}
.input-range__slider {
    background: $clr2 !important;
    border-color: $clr2 !important;
}
.input-range__track--active {
    background: $clr1 !important;
}